.App {
  text-align: center;
}

/* HEADER */
.header {
  color: white;
  background-color: rgb(96, 105, 109);
  margin: 0;
  height: 10vh;
  font-size: 32pt;
  text-align: center;
  text-shadow: black;
  padding-top: 20px;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background: rgb(52, 57, 59);
  color: whitesmoke;
}

.nav-links{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
